.title-left {
	text-align: center;
	padding-bottom: 20px;
	margin-top: 10px;
	margin-left: 30px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0.1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text{
	color: white;
	font-weight: bold;
	font-size: 25px;
    padding: 16px 32px;
}
.conta:hover .image {
    opacity: 0.3;
}

.conta:hover .middle {
    opacity: 1;
}
.item-carousel-convoca{
  padding: 0 !important;
}
.item-carousel-convoca img{
	height: 250px;
  border-radius: 4px;
}
.back-none {
	background-image: none !important;
}

.suscribe {
	margin-top: 20px;
	margin-bottom: 20px;
}
.suscribe-inline {
	display: inline-block;
	margin: 10px;
}
.img-suscribe {
	margin-bottom: 35px;
}
.title-center {
	text-align: center;
}
.dis-inline {
	display: inline;
}
a{
	color: #fff ;
}
a:hover{
	background-color: transparent !important;
	text-decoration: none !important;
}
.slid-mobile{
	display: none !important;
}
@media (max-width: 768px){
	.slid-mobile{
		display:block !important;
	}
	.slid-web{
		display: none ;
	}
	.leyenda{
		display: none;
	}
	#mapa{
		height: calc(100vh - 148px) !important;
	}
	.leyenda-mb{
		display: block !important;
	}
	.img-fle	{
		width: 80% !important;
		height: auto;
		top:30% !important;
	}
}
#mapa{
	transition: all .6s ease;
}
.leyenda{
	width: 250px;
	height: 150px;
	background: rgba(255,255,255, .3);
	position: absolute;
	bottom: 10%;
	right: 55%;
	border-radius: 5px;
	padding: 8px 20px;
}
.p-leye{
	font-size: 12px;
	color: #fff;
}
.leyenda-mb{
	display: none;
	width: 100%;
height: auto;
padding: 5px;
background: #171717;
padding-left: 15%;
}
.leyenda-mb > .p-leye{
	font-size: 11px;
	margin:0 0 0px;
}
.img-fle{
	position: absolute;
	top: 20%;
}
#mapa:hover > .img-fle{
	display: none;
}
